.container {
  width: 100%;
}

.container > p,
.container > h1 {
  margin: 5px auto;
  text-align: center;
}

.price {
  font-size: 18px;
  font-weight: 600;
}

.priceContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.priceText {
  display: inline-block;
  border: 1px solid #041b2d;
  padding: 15px 35px;
  text-align: center;
  border-radius: 8px;
  cursor: default;
}

.container > h1 {
  width: 65%;

  margin-top: 30px;
  margin-bottom: 30px;
}

.container > p {
  width: 70%;
  margin-bottom: 20px;
  line-height: 25px;
}
