.container {
  display: flex;
  flex-direction: row;
  margin-bottom: 6px;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}

.container > p {
  font-weight: 600;
  font-size: 0.9rem;
}

.checkboxContainer {
  display: flex;
  flex-direction: row;
  width: 220px;
  justify-content: space-around;
  align-items: center;
}

.error {
  color: red;
  font-size: 12px;
}

.input {
  width: 220px;
  padding: 15px;
  background-color: #e8eaed;
  border: none;
  font-size: 12px;
  border-radius: 6px;
}

.input:focus {
  outline: 1.5px solid #753a88;
}

.radioLabel {
  width: 110px;
}

.radioIcon {
  margin-right: 6px;
  font-weight: 100;
  color: #9aa0a6;
}

.radioLabel > label {
  cursor: pointer;
  font-size: 13px;
}

.radio {
  /* display: none; */
  opacity: 0;
}

.title {
  width: 100px;
  text-align: center;
}
