.container {
  display: flex;
  flex-direction: row;
  width: 90vw;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 45px;
  max-width: 750px;
  overflow: auto;
  min-height: 450px;
  max-height: 500px;
  background-color: white;
  box-shadow: 1px 0.5px 30px 1px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  overflow: hidden;
}

.leftIcon {
  margin-top: 20px;
}

.leftPane {
  background-image: linear-gradient(to bottom right, #cc2b5e, #753a88);
  padding: 15px;
  padding-top: 20px;
  display: flex;
  padding-bottom: 30px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 40%;
}

.rightPane {
  padding-top: 20px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}

.rightPane > h4 {
  margin: 10px;
  margin-bottom: 30px;
  color: gray;
}

@media only screen and (max-width: 600px) {
  .leftPane {
    display: none;
  }

  .rightPane {
    width: 100%;
  }
}
