.container {
    display: flex;
    flex-direction: row;
    margin-bottom: 6px;
    align-items: center;
    width: 100%;
    justify-content: space-around;
  }
  
  .checkboxContainer {
    display: flex;
    flex-direction: row;
    width: 220px;
    border: 1px solid #e8eaed;
    padding: 10px;
    border-radius: 6px;
    justify-content: space-around;
    align-items: center;
  }
  
  .error {
    color: red;
    text-align: center;
    font-size: 12px;
  }
  
  .input {
    width: 220px;
    padding: 15px;
    background-color: #f1f3f4;
    border: none;
    font-size: 12px;
    border-radius: 6px;
  }
  
  .input:focus {
    outline: 1.5px solid #753a88;
  }
  
  .radioLabel {
    width: 110px;
  }
  
  .radioIcon {
    margin-right: 6px;
    font-weight: 100;
    color: #9aa0a6;
  }
  
  .radioIconActive {
    color: #041b2d;
  }
  
  .radioLabel > label {
    cursor: pointer;
    font-size: 13px;
  }
  
  .radio {
    /* display: none; */
    opacity: 0;
  }
  
  .title {
    width: 100px;
    font-weight: 500;
    font-size: 0.8rem;
    text-align: center;
  }
  
  .wrapper {
    width: 100%;
  }
  