.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 25px;
  padding-left: 10px;
  align-items: center;
  height: 70px;
  background-color: white;
}

.image {
  border-radius: 30%;
}
