.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 30px;
  align-items: center;
  color: white;
  margin-bottom: 30px;
  height: 70px;
  background-color: #041b2d;
  box-shadow: 2px 1px 5px 6px rgba(0, 0, 0, 0.2);
  /* background-image: linear-gradient(to bottom right, #0b0742, #120c6e); */
}

.image {
  border-radius: 30%;
}

.linkContainer {
  display: flex;
  flex-direction: row;
}

.linkTitle {
  cursor: pointer;
  padding: 6px;
  text-transform: capitalize;
  color: #fff;
}

.linkActive {
  color: #03f46b;
}
