.itemContainer {
  background-color: white;
  padding: 10px;
  box-shadow: 2px 1px 15px 2px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
}

.itemPic {
  width: 75px;
  height: 75px;
  background-color: white;
  align-self: center;
  border-radius: 50%;
  margin-top: 10px;
  box-shadow: inset 2px 1px 10px 2px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.itemPic > h1 {
  font-size: 30px;
  text-transform: uppercase;
  color: #041b2d;
}

.itemDetails {
  font-size: 0.75rem;
  padding: 6px;
  text-align: center;
  text-transform: capitalize;
}

.itemDetails > h4 {
  font-weight: bolder;
  font-size: 0.9rem;
  text-align: center;
}
