.footer {
  position: relative;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #041b2d;
}

.icon {
  padding: 10px;
}

.icon:hover {
  color: #03f46b;
}

.text {
  font-size: 13px;
  color: white;
  padding: 10px;
  margin: 0;
}

.textAlign {
  text-align: center;
}

.socials {
  display: flex;
}
