.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin-top: 50px;
  background-image: linear-gradient(to bottom right, #cc2b5e, #753a88);
}

.footer > p {
  font-size: 14px;
}
