.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #041b2d;
}

.footer > p {
  font-size: 14px;
  color: white;
  padding: 10px;
  text-align: center;
  margin: 0;
}
