.container {
  display: grid;
  grid-template-columns: 260px 260px;
  gap: 30px;
  justify-content: center;
}

.title {
  text-align: center;
  margin-top: 35px;
  margin-bottom: 35px;
}

@media only screen and (max-width: 600px) {
  .container {
    grid-template-columns: 260px 260px;
  }
}

@media only screen and (min-width: 900px) {
  .container {
    grid-template-columns: 260px 260px 260px;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    grid-template-columns: 260px 260px 260px 260px;
  }
}
