.container {
  margin-bottom: 50px;
}

.container > h1 {
  margin-left: 20px;
}

.profile {
  display: flex;
  align-items: center;
  margin: 15px;
}

.profile > h4 {
  margin: 0;
}

.profilePic {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 1px 1px 13px 3px rgba(0, 0, 0, 0.2);
  margin-right: 10px;
}

.question {
  display: grid;
  grid-template-columns: 470px;
  justify-content: center;
  gap: 20px;
}

.questionItem {
  background-color: white;
  box-shadow: 1px 1px 13px 3px rgba(0, 0, 0, 0.2);
}

.questionText {
  margin-left: 80px;
}
