.container {
  margin-bottom: 50px;
}

.container > h1 {
  margin-left: 20px;
}

.profile {
  display: flex;
  align-items: center;
  margin: 15px;
}

.profile > h4 {
  margin: 0;
  text-transform: capitalize;
}

.profilePic {
  width: 60px;
  text-transform: capitalize;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 1px 1px 13px 3px rgba(0, 0, 0, 0.2);
  margin-right: 10px;
}

.question {
  display: grid;
  grid-template-columns: 470px;
  justify-content: center;
  gap: 20px;
}

.questionNone {
  text-align: center;
}

.questionItem {
  background-color: white;
  box-shadow: 1px 1px 13px 3px rgba(0, 0, 0, 0.2);
  padding-bottom: 20px;
}

.questionText {
  margin-left: 80px;
}

.questionReply {
  font-size: 13px;
  margin-left: 95px;
  font-weight: bold;
}

@media only screen and (max-width: 490px) {
  .question {
    grid-template-columns: 470px;
  }
}
@media only screen and (min-width: 600px) {
  .question {
    grid-template-columns: 500px;
  }
}

@media only screen and (min-width: 950px) {
  .question {
    grid-template-columns: 470px 470px;
  }
}

@media only screen and (min-width: 1300px) {
  .question {
    grid-template-columns: 440px 440px 440px;
  }
}
