.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 300px;
  align-self: center;
}

.main {
  display: flex;
  flex-direction: column;
}

.title {
  text-align: center;
  margin: 0px 50px;
  margin-bottom: 30px;
}
